@model IEnumerable<ProjetoMyRh.AppWeb.Models.Entities.Area>

@{
    ViewData["Title"] = "ListarAreas";
}

<h1>Lista de Áreas de Atuação</h1>

<p>
    <a asp-action="IncluirArea" class="btn btn-primary">Nova Área</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a asp-action="AlterarArea" asp-route-id="@item.Id">Alterar</a>
                    @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
        }
    </tbody>
</table>