@model IEnumerable<ProjetoMyRh.AppWeb.Models.Entities.Cargo>

@{
    ViewData["Title"] = "ListarCargos";
}

<h1>Lista de Cargos por Área</h1>

<p>
    @using (Html.BeginForm("ListarCargos", "Cargos", FormMethod.Get))
    {
        <div class="mb-3">
            @Html.Label("cargo", "Escolha a área"),
            @Html.DropDownList("idArea",
            (SelectList)ViewBag.ListaDeAreas,
            "Selecione a área: ", new {@class = "form-select"})
        </div>
        <div class="mb-3">
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSalario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaAtuacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSalario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaAtuacao!.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
