@model IEnumerable<ProjetoMyTE.WebApp.Models.Entities.Area>

@{
    ViewData["Title"] = "Listar Areas";
}

<h1>Lista de Áreas de Atuação</h1>

<p>
    <a asp-action="IncluirArea" class="btn btn-primary">Nova Área</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRICAO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRICAO)
            </td>
            <td>
                <a asp-action="AlterarArea" asp-route-id="@item.ID">Alterar</a>
                <a asp-action="RemoverArea" asp-route-id="@item.ID">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
